* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.center {
  padding: 0 calc(50% - 570px);
}

.header {
  background-image: url("img/bg_head.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 525px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
}
.header__nav_list > ul {
  display: flex;
  width: 840px;
  justify-content: space-around;
  list-style-type: none;
}
.header__nav_list > ul > li {
  display: flex;
  justify-content: space-around;
}
.header__nav_list > ul > li:nth-child(3) {
  padding-right: 43px;
}
.header__nav_list > ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.8rem;
  height: 22px;
  width: 50px;
}
.header__nav_list > ul > li > a:hover {
  font-weight: bold;
}
.header__content {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
}
.header__content > h2 {
  font-size: 4.2rem;
  color: #FFFFFF;
}
.header__content > h3 {
  font-size: 3.6rem;
  color: #FFFFFF;
  margin-top: 22px;
}
.header__content_button {
  margin-top: 35px;
}

.button {
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  font-size: 1.6rem;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  outline: none;
}
.button:hover {
  box-shadow: 0 4px 15px rgba(27, 170, 235, 0.45);
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}
.about-us__right {
  margin-top: 28px;
}
.about-us__right > h2 {
  font-size: 3.6rem;
  line-height: 43px;
  color: #000000;
}
.about-us__right > p {
  margin-top: 22px;
  font-size: 1.6rem;
  color: #000000;
  font-weight: 400;
  line-height: 19px;
}
.about-us__right_button {
  margin-top: 22px;
}

.step {
  margin-top: 69px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.step__card {
  display: flex;
  flex-direction: column;
  width: 462px;
  padding-bottom: 39px;
}
.step__card > h2 {
  font-size: 3.6rem;
  line-height: 36px;
  color: #000000;
  font-weight: 600;
  margin-top: 41px;
}
.step__card > p {
  margin-top: 9px;
  font-size: 2rem;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}

.promo {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}
.promo > h2 {
  font-size: 3rem;
  line-height: 43px;
  color: #000000;
  font-weight: 800;
}

.call {
  margin-top: 64px;
  height: 240px;
  display: flex;
  align-items: center;
}
.call-bg {
  background: #008DCD;
}
.call__left {
  display: flex;
  flex-direction: column;
}
.call__left > h2 {
  font-size: 4rem;
  line-height: 58px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 800;
}
.call__left > h3 {
  margin-top: 8px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 23px;
  color: #FFFFFF;
}
.call__right {
  margin-top: 50px;
  margin-left: 65px;
  display: flex;
  flex-direction: column;
}
.call__right_form {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  width: 360px;
  height: 48px;
  outline: none;
  padding-left: 21px;
  font-size: 1.6rem;
  line-height: 19px;
  background-color: #008DCD;
  color: #f7f7f8;
}
.call__right_form::-webkit-input-placeholder {
  color: #f7f7f8;
}
.call__right > p {
  margin-top: 16px;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 12px;
  display: flex;
  align-items: center;
}
.call__right > p > input {
  margin-right: 6px;
  margin-top: 2px;
}
.call_button {
  margin-top: 9px;
  background-color: #FFCC00;
  color: #363636;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: 700;
}

.recall {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
}
.recall_position {
  margin-top: 53px;
  display: flex;
  align-items: center;
}
.recall_position > img {
  height: 20px;
}
.recall_position_img {
  margin-right: 70px;
}
.recall_position_img_two {
  margin-left: 70px;
}
.recall > h2 {
  font-size: 3.6rem;
  line-height: 43px;
  font-weight: 900;
}
.recall__card {
  display: flex;
  flex-direction: column;
  width: 460px;
}
.recall__card > p {
  margin-top: 26px;
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: 600;
  color: #000000;
}
.recall__card_top {
  display: flex;
}
.recall__card_top-text {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.recall__card_top-text > h3 {
  font-size: 3.6rem;
  line-height: 43px;
  color: #000000;
  font-weight: 600;
}
.recall__card_top-text > h4 {
  margin-top: 11px;
  margin-bottom: 15px;
  font-size: 2rem;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
}
.recall__card_top-text > h5 {
  margin-bottom: 4px;
  font-size: 1.6rem;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}

.recall__card_two {
  margin-left: 40px;
}

.advantages {
  margin-top: 158px;
  display: flex;
  flex-direction: column;
}
.advantages > h2 {
  font-size: 3.6rem;
  line-height: 43px;
  color: #000000;
  font-weight: 900;
}
.advantages__card {
  margin-top: 81px;
  width: 166px;
  display: flex;
}
.advantages__card_position {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.advantages__card_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__card_block_img {
  width: 160px;
  height: 160px;
  text-align: center;
}
.advantages__card_block > p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
}

.guarantee {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 181px;
}
.guarantee > h2 {
  font-size: 3.6rem;
  line-height: 43px;
  color: #000000;
  font-weight: 900;
}
.guarantee__card {
  width: 369px;
  display: flex;
  flex-direction: column;
}
.guarantee__card_img {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guarantee__card_content {
  margin-top: 32px;
  height: 170px;
}
.guarantee__card_content > h3 {
  font-size: 3rem;
  line-height: 36px;
  font-weight: 600;
}
.guarantee__card_content > p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.4rem;
  line-height: 19px;
  font-weight: 600;
}
.guarantee__card_position {
  margin-top: 27px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
