body {
  font-family: "SF Pro Display", sans-serif;
  cursor: default;
}

@font-face {
  font-family: "8143";
  src: url("../fonts/8143.otf");
}
@font-face {
  font-family: "arial-narrow-bold-italic";
  src: url("../fonts/arial-narrow-bold-italic.ttf");
}
@font-face {
  font-family: "arial";
  src: url("../fonts/arial.ttf");
}
@font-face {
  font-family: "FRABK";
  src: url("../fonts/FRABK.TTF");
}
@font-face {
  font-family: "FRADM";
  src: url("../fonts/FRADM.TTF");
}
@font-face {
  font-family: "FRADMIT";
  src: url("../fonts/FRADMIT.TTF");
}
@font-face {
  font-family: "FRABKIT";
  src: url("../fonts/FRABKIT.TTF");
}
@media (min-width: 576px) {
  .center {
    padding: 0 calc(50% - 270px);
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .center {
    padding: 0 calc(50% - 360px);
  }
}
@media (min-width: 992px) {
  .center {
    padding: 0 calc(50% - 480px);
  }
}
@media (min-width: 1140px) {
  .center {
    margin: 0 auto;
    padding: 0 20px;
  }
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 39px;
}
.header__top_menu {
  width: 900px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #f3f8f7;
  line-height: 14px;
  font-family: "MyriadPro-Regular";
  justify-content: space-around;
}
.header__top_time {
  font-family: "ArialNarrow-BoldItalic";
  font-size: 30px;
  color: #c10000;
  letter-spacing: 0.2em;
}
.header__top-drop {
  color: #f3f8f7;
  padding-right: 22px;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  height: 33px;
}
.header__bottom_menu {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  color: white;
  letter-spacing: 0.2em;
  padding-left: 15px;
}
.header__bottom_register {
  font-family: "MyriadPro-Regular";
  font-size: 11px;
  color: #fefefe;
  line-height: 36px;
}
.header__bottom_register:hover {
  color: #f2bb7a;
  cursor: pointer;
}
.header__bottom_language {
  font-family: "MyriadPro-Regular";
  font-size: 11px;
  color: white;
  text-align: right;
  letter-spacing: 0.5em;
  line-height: 13px;
  cursor: pointer;
  display: flex;
  margin: 0 10px;
}
.header__bottom_language-ru:hover {
  color: #f2bb7a;
  cursor: pointer;
}
.header__bottom_language-en:hover {
  color: #f2bb7a;
  cursor: pointer;
}
.header__bottom_language-kaz:hover {
  color: #f2bb7a;
  cursor: pointer;
}
.header__line {
  height: 4px;
  background-color: red;
}
.header__main {
  background-image: url("../img/fonn.png");
  background-repeat: no-repeat;
  background-position-y: 17px;
  width: 100%;
  height: 1000px;
  transition: all 1s cubic-bezier(0, 0, 1, 1) 500ms;
}
.header__main_top {
  display: flex;
  position: relative;
}
.header__main_top-text {
  display: flex;
  flex-direction: column;
  padding-left: 350px;
}
.header__main_top-text_position {
  display: flex;
  flex-direction: column;
}
.header__main_top-text_position-main {
  display: flex;
}
.header__main_top-text_pro {
  font-family: "ArialNarrow-BoldItalic";
  font-size: 72px;
  color: white;
  line-height: 18px;
  padding-top: 60px;
}
.header__main_top-text_detailing {
  font-family: "ArialNarrow-BoldItalic";
  font-size: 48px;
  color: #fffefe;
  line-height: 18px;
  padding-top: 55px;
  padding-left: 15px;
}
.header__main_top-text_prof {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  color: white;
  letter-spacing: 0.2em;
  padding-left: 52px;
  padding-top: 15px;
}
.header__main_menu {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  width: 100%;
}
.header__main_menu_list {
  border-bottom: 1px solid white;
  height: 40px;
  width: 110px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  font-family: "ArialMT";
  font-size: 15px;
  color: #181818;
  letter-spacing: 0.2em;
}
.header__main_menu_list:hover {
  border-bottom: 1px solid red;
}
.header__main_menu_list-number {
  font-size: 10px;
  color: darkgray;
  padding-bottom: 7px;
}
.header__main_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.header__main_center_drop {
  height: 250px;
  width: 30px;
  background-color: #c10000;
  writing-mode: tb-rl;
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  color: #e1e6f8;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header__bot_slash {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header__bot_slash_line {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__bot_slash_promo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header__bot_slash_promo_top {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  color: #3c3c3d;
  letter-spacing: 0.2em;
  text-align: center;
  padding-top: 14px;
}
.header__bot_slash_promo_bot {
  font-family: "ArialNarrow-BoldItalic";
  font-size: 18px;
  color: #282a29;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 6px;
  padding-top: 9px;
}
.header__bot_slash_img {
  display: flex;
  margin: 45px 0 50px 50px;
  width: auto;
  height: auto;
  justify-content: center;
}
.header__bot_slash_img_block {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 300px;
  justify-content: space-around;
  padding: 16px;
}
.header__bot_slash_img_car {
  padding: 0 60px;
  width: auto;
}
.header__bot_slash_img_car:hover {
  transition: 1s;
  transform: scale(1.2);
}
.header__bot_slash_one {
  background-color: blue;
  height: 1px;
  width: 173px;
  margin-right: 20px;
}
.header__bot_slash_two {
  background-color: #181818;
  height: 1px;
  width: 173px;
  margin-right: 20px;
}
.header__bot_slash_three {
  background-color: #c10000;
  height: 1px;
  width: 173px;
}
.header__flag {
  position: absolute;
  left: -0.6px;
  z-index: 1;
}

.block_flag {
  position: absolute;
  width: 130px;
  height: 255px;
  background-color: #f3f8f7;
}

.canvas-wrap {
  position: relative;
  top: -5px;
  right: 15px;
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.plane {
  width: 180px;
  height: 310px;
}

.plane img {
  display: none;
}

.shins {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0, 0, 1, 1) 500ms;
}

/*# sourceMappingURL=style.css.map */
